body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

.settings {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

.ingredients {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* Stil für den grünen Button */
#savePlan {
    background-color: green; /* Hintergrundfarbe auf Grün setzen */
    color: white; /* Textfarbe auf Weiß setzen */
    padding: 10px 20px; /* Innenabstand festlegen */
    border: none; /* Rand entfernen */
    cursor: pointer; /* Zeiger-Cursor für die Interaktion */
    display: none; /* Standardmäßig ausgeblendet */
    margin: 0 auto; /* Zentriert horizontal */
}

/* Ändere den Stil bei Hover (Maus darüber) */
#savePlan:hover {
    background-color: darkgreen; /* Dunkleres Grün bei Hover */
}

/* Zentriere die äußere Tabelle und setze sichtbare Ränder */
.outer-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 30%; /* Breite der äußeren Tabelle anpassen */
    border: 2px solid #000;
}

/* Setze Ränder für Tabellenzellen und Textausrichtung in der äußeren Tabelle */
.outer-table th, .outer-table td {
    border: 1px solid #000; /* Setzt einen Rahmen um die Zellen */
    padding: 8px; /* Fügt Innenabstand für Zellen hinzu */
    text-align: left; /* Linksbündige Ausrichtung des Textes */
}

/* Style für Tabellenkopfzeile (thead) */
.outer-table thead {
    background-color: #f2f2f2; /* Hintergrundfarbe für den Tabellenkopf */
}

/* Style für Tabellenzeilen (tr) */
.outer-table tbody tr {
    background-color: #ffffff; /* Hintergrundfarbe für Zeilen im tbody */
}

/* Stil für die Zellen in der äußeren Tabelle */
.outer-table th, .outer-table td {
    text-align: left; /* Linksbündige Ausrichtung des Textes für die inneren Zellen */
}
