body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

.settings {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

.ingredients {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.mealPlan {
    margin-top: 20px;
}

/* Stil für den grünen Button */
#savePlan {
    background-color: green; /* Hintergrundfarbe auf Grün setzen */
    color: white; /* Textfarbe auf Weiß setzen */
    padding: 10px 20px; /* Innenabstand festlegen */
    border: none; /* Rand entfernen */
    cursor: pointer; /* Zeiger-Cursor für die Interaktion */
    display: none; /* Standardmäßig ausgeblendet */
    margin: 0 auto; /* Zentriert horizontal */
}

/* Ändere den Stil bei Hover (Maus darüber) */
#savePlan:hover {
    background-color: darkgreen; /* Dunkleres Grün bei Hover */
}
