/* Globale Stile */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #080F25;
}

h1 {
    color: #333;
}

/* Header-Stil */
header {
    background-color: #101935;
    color: white;
    padding: 20px;
}

/* Hauptinhalt */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #101935;
    color: white;
    border-radius: 15px;
    /* very thin white border */
    border: 1px rgb(56, 56, 56) solid;
}

#days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212C4D;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
}

#seasonal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212C4D;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
}

#generatePlan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212C4D;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
}

/* hover effekt für generatePlan */
#generatePlan:hover {
    background-color: #6C72FF;
}

/* effekte für mealPlanTable */
#mealPlanTable {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212C4D;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
    /* ecken abrunden */
    border-radius: 15px;
}

#seasonalIngredients {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212C4D;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
}

/* Einstellungen */
.settings {
    text-align: left;
}

.settings label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.settings select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Saisonale Zutaten */
.ingredients h2 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ingredients select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button-Stil */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Stil für den grünen Button */
#savePlan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #6C72FF;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
}

#savePlan:hover {
    background-color: #212C4D;
}

#viewDishes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212C4D;
    color: lightgray;
    border: 1px rgb(56, 56, 56) solid;
}

/* hover effekt für generatePlan */
#viewDishes:hover {
    background-color: #6C72FF;
}

/* Tabellenstil */
.outer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
}

.outer-table th, .outer-table td {
    border: 1px solid rgb(97, 97, 97);
    padding: 10px;
}

.outer-table tbody tr:nth-child(odd) {
    background-color: #101935;
    color: white;
}

.outer-table tbody tr:nth-child(even) {
    background-color: #222D4D;
    color: white;
}

/* Body der Tabelle bezüglich Breite maximieren */
.outer-table tbody td {
    width: 300px;
}

/* Header der Tabelle bezüglich Breite an den Body anpassen */
.outer-table thead th {
    width: 1%;
    white-space: nowrap;
}

/* erste Zeile der Tabelle drunkelgrau hinterlegen */
.outer-table tbody tr:first-child {
    background-color: #101935;
    color: white;
    height: 60px;
    font: bold;
    /* Kante links oben und rechts oben abrunden */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.outer-table body th:first-of-type {
    border-top-left-radius: 10px;
}
th:last-of-type {
    border-top-right-radius: 10px;
}
tr:first-of-type td:first-of-type {
    border-top-left-radius: 10px;
}
tr:first-of-type td:last-of-type {
    border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

/* Stil für die zweite und dritte Spalte der Tabelle, aber nicht die erste Zeile */
.outer-table tbody tr:not(:first-child) td:nth-child(2),
.outer-table tbody tr:not(:first-child) td:nth-child(3) {
    text-align: left;
}

/* Stil für Aktualisieren-Buttons */
.update-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #0056b3;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    /* den Container in der Mitte ausrichten */
;
}

.img-in-cell {
    max-height: 20px; /* Um die Größe des Bildes zu begrenzen */
    max-width: 20px; /* Um die Größe des Bildes zu begrenzen */
    display: block; /* Um mögliche Abstände zu entfernen */
    margin: auto; /* Um das Bild in der Mitte der Zelle zu zentrieren */
}

.img-in-cell:hover {
    /* Um das Bild beim Hover-Effekt zu vergrößern */
    transform: scale(1.3);
    transition: transform 0.3s ease; /* Um den Hover-Effekt zu animieren */
}

/* Stil für das Popup Fenster, das beim Klick auf "Essensplan speichern" erscheint */
/* In der CSS-Datei */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #101935;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

#weekPicker {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #212C4D;
    border: 1px solid #ccc;
    border-radius: 5px;
}
